@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,900');

.award {
	position: relative;
}

#awardline1 {
	margin-bottom: 2.5%;
}

#awardline2 {
	margin-bottom: 6.3%;
}

#width250 {
	width:250px;
}

#width180 {
	width:180px;
}

#year {
	opacity: 0.2;
	transition: 0.5s;
}

#awardname {
	position: absolute;
	opacity: 1;
	transition: 0.5s;
	font-size: 17px;
	top: 8px; 
}

#organization {
	position: absolute;
	top: 17px;
	opacity: 0.2;

	transition: 0.5s;
}

.award:hover #year{
	opacity: 1;
	transition: 0.5s;
}

.award:hover #awardname{
	opacity: 0.2;
	transition: 0.5s;
}

.award:hover #organization{
	opacity: 1;
	transition: 0.5s;
}


::-webkit-scrollbar {
      width: 10px;
}
::-webkit-scrollbar-track {
      background-color: #666;
}
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
}

body {
	background-color: #2A2B2C;
	color: #FAFAFA;
	margin: 0;
	padding:0;
	font-family: 'Nunito Sans';
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 23px;
	overflow-y: overlay;
	overflow-x: hidden;
}


#end {
	margin-bottom: 5%;
	justify-content: center;
}

#star {
	margin-left: 1%;
	margin-right: 1%;
	font-weight: 600;
}

#textrotation {
	font-family: 'Raleway';
	font-size: 20px;
	color: #4DD0E1;
	font-weight: 400;
}

::selection {
	background: transparent;
	color: #4DD0E1;
}

.typed-cursor {
	color: #FAFAFA;
	font-size: 20px;
}

#about_heading {
	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 15%;
}

#about_hr_top {
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 15%;
	width: 0;
	animation-name: reveal;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#about_hr_bottom {
	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 15%;
	width: 0;
	animation-name: reveal;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#email {
	margin-left: 15%;
	font-weight: 400;
}

#music_text_right {
	text-align: right;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

#music_songs_right {
	text-align: right;
	font-size: 17px;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #c0db52;
}

#music_songs_left {
	font-size: 17px;
	text-align: left;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #c0db52;
}

#music_hr {
	margin-top: 60px;
	margin-bottom: 0;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	animation-name: grow;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

@keyframes grow {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

#music_text_left {
	margin: 0;
	text-align: left;
	padding: 0;
	font-size: 13px;
}

#music_data_songs {
	margin-top: 30px;
}

#music_data {
	margin-top: 60px;
}

#music_heading_left {
	margin: 0;
	text-align: left;
	padding: 0;
	color: #4DD0E1;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 5px;
}

#music_heading_right {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	text-align: right;
	margin-bottom: 5px;
	padding: 0;
	color: #4DD0E1;
}

video, iframe {
	height: 260px;
	width: 450px;
	border: none;
}

#music_left {
	margin-bottom: 5%;
	margin-top: 5%;
	flex-wrap: wrap-reverse;
}

#music_right {
	margin-bottom: 5%;
	margin-top: 5%;

}

.design {
  position: relative;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#flexposter {
	width: 40%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s;
}


.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.overlayflexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  color: #2A2B2C;
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
  font-weight: 400;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

#stylescape {
	padding-top: 7.5%;
}

#pulse {
	padding-top: 9%;
}

#program {
	padding-top: 13%;
}

#poster {
	padding-top: 30%;
	padding-bottom: 0;
}

.overlaytext {
	color: #2A2B2C;
	font-weight: 400;
	text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background: rgba(78, 208, 225, 0);
}

.design:hover .overlay {
  background: rgba(78, 208, 225, 0.9);
  transition: 0.5s;
}

.design:hover .overlayflexbox {
  opacity: 1;
  transition: 0.5s;
}

#large {
	top: 42%;
	left: 68%;
} 

.flip-container {
	perspective: 1000px;
	width:200px;
	color: #FAFAFA;
	margin: 0;
	padding: 0;

}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container{
	width:200px;
	height: 21px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	width: 200px;
	height: 21px;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	padding: 0px;
	text-align: center;
	
}

.back {
	transform: rotateY(180deg);
}

#resume {
	margin-top: 5%;
	margin-bottom: 5%;
}

.resume_head {
	font-family: 'Raleway';
	color: #4DD0E1;
	font-size: 20px;
	font-weight: 400;
	margin-left: 15%;
}

#resume_hr {
	margin-left: 15%;
	text-align: left;
	margin-top: 1%;
	margin-bottom: 3%;
	width: 0px;
	animation-name: reveal;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes reveal {
	from {
		width: 0;
	}
	to {
		width: 60px;
	}
}


#font-raleway {
	font-family: 'Raleway';
	font-weight: 300;
}

p {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	text-align: justify;
}

.main_footer {
	text-align: center;
	padding-top: 200px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Raleway';
}

.main_footer a{
	text-decoration: none;
	color: #FAFAFA;
	margin-left: 50px;
	margin-right: 50px;
	transition: 0.3s;
}

#footer_button:hover {
	color: #4DD0E1;
	transition: 0.3s;
}

#nomargin {
	margin-top: 0;
}
.text_left {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}

.text_right {
	text-align: right;
	margin-bottom: 0;
	margin-top: 5px;
}

.text_center {
	text-align: center;
}

#home {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 45px;
	margin-top: 180px;
	margin-left: 27%;
	width: 46%;
	justify-content: center;
}

#home hr{
	border-top: 1px solid #FAFAFA;
	margin-top: 10px;
	width: 60px;
}

#home_subhead {
	font-family: 'Nunito Sans';
	font-size: 15px;
	text-align: center;
}

.navigation {
	font-family: 'Raleway';
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.navigation a{
	color: #FAFAFA;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: 400;
	transition: 0.3s;
}

.navigation hr{
	height: 1px;
	width: 100%;
	color: #FAFAFA;
	box-sizing: border-box;
}

#nav_button:hover {
	color: #4DD0E1;
	transition: 0.3s;
}

#nav_button_active {
	color: #4DD0E1;
}

.skills_heading {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	margin-left: 8%;
	margin-top: 30px;
	
	margin-right: 8%;
}

#addresumemarginbottom {
	margin-bottom: 20px;
}
#addbottommargin {
	margin-bottom: 75px;
}

.work {
	font-size: 17px;
	font-weight: 300;
	margin-top: 20px;
	padding: 0;
}

#add-margin {
	margin-right: 15%;
	margin-left: 15%;
}

.work li{
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 13px;
	font-weight: 300;
	text-align: justify;
	text-justify: inter-word;
}

h1 {
	font-family: 'Raleway';
	margin-top: 5%;
	font-size: 20px;
	margin-left: 15%;
	font-weight: 400;
	color: #4DD0E1;;
}

/*h2 {
	font-size: 25px;
	text-align: left;
	color: #FAFAFA;
}
*/
a {
	text-decoration: none;
	color: #c0db52;
}

#resumelink {
	color: #4DD0E1;
	padding-bottom: 5%;
}

hr {
	border: none;
	background-color: #FAFAFA;
	height: 1px;
	width: 100px;
	margin-top: 25px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

h3 {
	margin-top: 0;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 10px;
}

h4 {
	margin-top: 0;
	font-size: 13px;
	font-weight: 300;
}

@media only screen and (max-width: 700px) {
	body {
		font-size: 11.5px;
		margin-bottom: 7%;

	}/*

	.navigation {
		margin-top: 0;
		margin-bottom: 0;
		
	}*/
	.navigation a{
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 25px;
		padding-bottom: 20px;
	}

	.navigation hr {
		margin-bottom: 7%;
	}

	#home {
		margin-left: 15%;
		margin-top: 170px;
		font-size: 30px;
		width: 70%;
	}
	#home hr{
		width: 30px;
		margin-bottom: 10%;
	}

	#home_subhead {
		font-size: 11.5px;
	}
	.main_footer {
		padding-top: 170px;
	}
	.main_footer a{
		margin-left: 10px;
		margin-right: 10px;
	}
	#about_heading {
		margin-top: 5%;
		margin-bottom: 4%;
	}

	#about_hr_top{
		margin-bottom: 7%;
	}

	#about_hr_bottom {
		margin-top: 7%;
		margin-bottom: 4%;
	}
	#textrotation {
		font-size: 17px;
	}
	#email {
		margin-right: 15%;
		text-align: justify;
	}
	p {
		margin-top:13px;
	}

	h1{
		font-size: 17px;
	}

	h3 {
		font-size: 13px;
		margin-top: 0;
		line-height: 18px;
	}

	h4 {
		font-size: 11.5px;
		line-height: 20px;
	}

	#music_hr {
		margin-top: 7%;
		margin-bottom: 7%;
	}

	video, iframe {
		margin-right: 15%;
		width: 100%;
		height: 70%;
		margin-top: 0;
	}

	#music_data, #music_data_songs, #music_heading_right, #music_heading_left, #music_text_right, #music_text_left, #music_songs_left, #music_songs_right {
		text-align: center;
		width: 100%;
	}

	#music_data, #music_data_songs {
		margin-top: 7%;
	}
	#music_heading_left, #music_heading_right {
		font-size: 17px;
	}
	#music_text_left, #music_text_right {
		font-size: 11.5px;
	}
	#music_songs_left, #music_songs_right {
		font-size: 13px;
	}
	.design {
		position: static;
		margin-bottom: 7%;
		margin-top: 0;
	}
	.design:hover .overlay {
		background: transparent;
	}
	.overlayflexbox {
		margin: 0;
		position: static;
		background: transparent;
		opacity: 1;
		color: #FAFAFA;
		font-weight: 300;
		padding-bottom: 0;
	}
	.overlay {
		position: static;
		background: transparent;
		color: #FAFAFA;
		opacity: 1;
	}
	.overlaytext {
		position: static;
		background: transparent;
		color: #FAFAFA;
		opacity: 1;
		font-weight: 300;
		padding: 0;
	}
	#flexposter {
		width: 100%;
		margin-bottom: 0;
	}
	#poster, #stylescape, #program, #pulse {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.image {
		padding-top: 7%;
		margin-bottom: 7%;
	}
	.resume_head {
		font-size: 17px;
	}
	@keyframes reveal {
		from {
			width: 0;
		}
		to {
			width: 50px;
		}
	}
	#resume_hr {
		margin-bottom: 7%;
		margin-top: 2%;
	}

	.skills_heading {
		flex-wrap: wrap;
		margin-bottom: 7%;
		margin-top: 7%;
		padding: 0;
	}

	.flip-container {
		margin-bottom: 5px;
	}

	.work {
		font-size: 13px;
	}

	.work li{
		font-size: 11.5px;
	}

	#awardname {
		font-size: 14px;
	}

	.award {
		margin-bottom: 15px;
	}
	#organization {
		top: 15px;
	}
	#end {
		margin-bottom: 0;
	}
} 
